<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><:title:></title>
	<link rel="stylesheet" href="<:site:path:>style.css" type="text/css" />
	<!-- The line below is only here to make the sample work on local disk, can safely be removed -->
	<link rel="stylesheet" href="../style.css" type="text/css" />
	<link rel="alternate" type="application/atom+xml" title="Subscribe to new posts" href="<:site:path:>feed/" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
</head>
<body>
<header>
	<div><a href="<:site:Path:>">Sample blog</a></div>
	<nav>
		<ul>
			<:tabs:>
		</ul>
	</nav>
</header>
<:contents:>
</body>
</html>
